<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">

    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="MEM_ID" property="memId"/>
        <result column="CREATE_DATE" property="createDate"/>
    </resultMap>

    <select id="getBoardList" resultMap="board">
        SELECT BOARD_NUM
        , TITLE
        , MEM_ID
        , CREATE_DATE
        FROM board
        ORDER BY BOARD_NUM DESC
        LIMIT #{displayDataCnt} OFFSET #{offset}
        <!--        <if test=' searchValue != null and !searchValue.equals("") '>-->
        <!--            WHERE ${searchType} LIKE CONCAT('%',#{searchValue},'%')-->
        <!--        </if>-->
    </select>

    <select id="getBoard" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , MEM_ID
            , CREATE_DATE
            , CONTENT
        FROM board
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <insert id="inBoard">
        INSERT INTO board (
            TITLE,
            CONTENT,
            MEM_ID
        ) VALUES (
            #{title},
            #{content},
            #{memId}
        )
    </insert>

    <update id="update">
        UPDATE board
        SET
            TITLE = #{title}
            , CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <delete id="delete">
        DELETE
        FROM board
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!-- 전체 게시글 수 조회 -->
    <select id="getBoardCnt" resultType="int">
        SELECT COUNT(BOARD_NUM)
        FROM BOARD
    </select>

</mapper>































