<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">

    <resultMap id="member" type="com.green.Board.vo.MemberVO">
        <id column="MEM_ID" property="memId"/>
        <result column="MEM_PW" property="memPw"/>
        <result column="MEM_NAME" property="memName"/>
        <result column="GENDER" property="gender"/>
        <result column="MEM_ROLE" property="memRole"/>
    </resultMap>

    <!-- 아이디 중복 체크 -->
    <select id="chkId" resultMap="member">
        SELECT MEM_ID
        FROM board_member
        WHERE MEM_ID = #{memId}
    </select>

    <!-- 아이디 비밀번호 체크 -->
    <select id="chkIdPw" resultMap="member">
        SELECT MEM_ID
            , MEM_NAME
            , MEM_ROLE
        FROM board_member
        WHERE MEM_ID = #{memId} AND MEM_PW = #{memPw}
    </select>

    <select id="getMember" resultMap="member">
        SELECT MEM_ID
            , MEM_PW
            , MEM_NAME
            , GENDER
            , MEM_ROLE
        FROM board_member;
    </select>

    <insert id="insert" >
        INSERT INTO board_member(
            MEM_ID
            , MEM_PW
            , MEM_NAME
            , GENDER
        )VALUES(
            #{memId}
            , #{memPw}
            , #{memName}
            , #{gender}
        );
    </insert>


</mapper>































