.itemList-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-box{
  width: 18%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(230, 230, 230, .1);
  border-radius: 10px;
  box-shadow: 3px 3px 6px #dddddd;
  margin: 0 3px;
  padding: 10px;
  box-sizing: border-box;
}

.item-box > img{
  width: 100%;
  padding: 10px;
}

.item-box > p {
  margin-bottom: 10px;
}