<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/student.css">
</head>
<body>
  <form action="/upload" method="post">
    <div class="container">
      <div class="table-div">
        <table class="list-table">
          <tr>
            <td>학번</td>
            <td>
              <input type="text" name="stuNum">
            </td>
          </tr>
          <tr>
            <td>이름</td>
            <td>
              <input type="text" name="stuName">
            </td>
          </tr>
          <tr>
            <td>국어점수</td>
            <td>
              <input type="text" name="korScore">
            </td>
          </tr>
          <tr>
            <td>영어점수</td>
            <td>
              <input type="text" name="engScore">
            </td>
          </tr>
          <tr>
            <td>학생소개</td>
            <td>
              <textarea name="intro" rows="3" cols="30"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div class="btn-div">
        <input type="submit" value="등록 완료">
      </div>
    </div>
  </form>
</body>
</html>