.detail-div{
  width: 800px;
  margin: 30px auto;
}

.detail-table{
  width: 100%;
  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
}

.detail-table tr, .detail-table td{
  border: 1px solid #000;
  text-align: center;
  padding: 6px;
  background-color: rgb(155, 226, 255);
}

.detail-table tbody tr:nth-child(even) td{
  background-color: rgb(105, 176, 205);
}

.detail-table tbody tr td:first-child{
  font-weight: bold;
}

.detail-table tbody tr td:nth-child(3){
  font-weight: bold;
}

.detail-div button{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  background-color: rgba(61, 9, 248, 0.918);
  color: #fff;
  cursor: pointer;
}