<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="wrap">
    <h3>치킨 종류와 상관 없이 무조건 만원!</h3>
    <div>
      <input type="radio" value="chicken" name="chicken"> 후라이드 치킨
      <input type="radio" value="chicken" name="chicken"> 양념치킨
      <input type="radio" value="chicken" name="chicken"> 간장치킨 <br>
      <input type="radio" value="chicken" name="chicken"> 고추바사삭 
      <input type="radio" value="chicken" name="chicken"> 뿌링클
      <input type="radio" value="chicken" name="chicken"> 매운핫치킨 
    </div>
    <div>
      몇마리 <input type="number" name="num">
    </div>
    <div>
      <h3>추가할게요(추가 시 1000원)</h3>
    </div>
  </div>
</body>
</html>